## About {#about}

The field of omics is generating data at an unprecedented scale, pushing the boundaries of computational performance. 
Join us at FCCM’26 for the **Next-Generation Adaptable Computing for Omics** workshop, where industry and academic leaders will explore 
cutting-edge FPGA, CGRA, and dataflow architectures tailored for genomics, proteomics, and beyond. 
Through insightful talks and expert panel discussions, we’ll dive into how these adaptable architectures can revolutionize healthcare, biotechnology,
 and environmental research. 
 Whether you’re a researcher, developer, or hardware enthusiast, this workshop is your gateway to shaping the future of computational genomics. 
 **Don’t miss this opportunity to engage, learn, and innovate!**