## Organizers {#organizers}

<div class="organizers-section">

    <div class="organizer-item">
        <div class="organizer-photo">
            <img src="https://static.wixstatic.com/media/40ece4_2c12a074a81f4cb39ebdfa1d6d340ef7~mv2.jpeg/v1/fill/w_212,h_212,al_c,lg_1,q_80,enc_avif,quality_auto/mp.jpeg" alt="Madhura Purnaprajna">
        </div>
        <div class="organizer-info">
            <h4><a href="https://in.linkedin.com/in/madhurapurnaprajna" target="_blank">Madhura Purnaprajna</a></h4>
            <div class="organizer-affiliation">AMD</div>
            <p class="organizer-bio"></p>
            <div class="organizer-email">📧 <a
                    href="mailto:Madhura.Purnaprajna@amd.com">Madhura.Purnaprajna@amd.com</a></div>
        </div>
    </div>

    <div class="organizer-item">
        <div class="organizer-photo">
            <img src="https://www.deib.polimi.it/allegati/peopledeib/356156/foto.jpg" alt="Marco Santambrogio">
        </div>
        <div class="organizer-info">
            <h4><a href="https://santambrogio.faculty.polimi.it/" target="_blank">Marco Santambrogio</a></h4>
            <div class="organizer-affiliation">Politecnico di Milano</div>
            <p class="organizer-bio"> </p>
            <div class="organizer-email">📧 <a
                    href="mailto:marco.santambrogio@polimi.it">marco.santambrogio@polimi.it</a></div>
        </div>
    </div>

    <div class="organizer-item">
        <div class="organizer-photo">
            <img src="assets/images/onur_pic.jpeg" alt="Onur Mutlu">
        </div>
        <div class="organizer-info">
            <h4><a href="https://people.inf.ethz.ch/omutlu/" target="_blank">Onur Mutlu</a></h4>
            <div class="organizer-affiliation">ETH Zürich</div>
            <p class="organizer-bio"></p>
            <div class="organizer-email">📧 <a
                    href="mailto:onur.mutlu@inf.ethz.ch">onur.mutlu@inf.ethz.ch</a></div>
        </div>
    </div>

    <div class="organizer-item">
        <div class="organizer-photo">
            <img src="assets/images/konstantina_pic.jpeg" alt="Konstantina Koliogeorgi">
        </div>
        <div class="organizer-info">
            <h4><a href="https://gr.linkedin.com/in/konstantina-koliogeorgi-256965269"
                    target="_blank">Konstantina Koliogeorgi</a></h4>
            <div class="organizer-affiliation">ETH Zürich</div>
            <p class="organizer-bio">Z
            </p>
            <div class="organizer-email">📧 <a href="mailto:kkoliogeorgi@ethz.ch">kkoliogeorgi@ethz.ch</a>
            </div>
        </div>
    </div>


</div>