## Event Location {#venue}

<div class="event-grid">
    <div class="event-info">
        <h3>Venue</h3>
        <p><strong>Georgia Tech CODA Building</strong></p>
        <p>756 West Peachtree Street<br>Atlanta, GA 30332<br>USA</p>
        <p>The workshop will be held in conjunction with <a href="https://www.fccm.org/"
                target="_blank">FCCM 2026</a>.</p>
        <p>For registration and accommodation information, please visit the <a
                href="https://www.fccm.org/registration-2026/" target="_blank">FCCM 2026 website</a>.</p>
    </div>
    <div class="event-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.4349296800247!2d-84.39021752387899!3d33.77526507326255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5046677950223%3A0x7fd1ad077b382c98!2sCoda!5e0!3m2!1sel!2sch!4v1776788464955!5m2!1sel!2sch"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>